<div class="pop-calendar-wrap">
  <mbsc-datepicker
    [calendarHeaderTemplate]="customTemplate"
    [controls]="['calendar']"
    display="inline"
    class="report-calendar"
    (onPageLoaded)="test($event)"
    [options]="eventSettings"
  >
    <ng-template #customTemplate>
      <mbsc-calendar-nav></mbsc-calendar-nav>
      <p class="date">{{ date | date: 'yyyy.MM' }}</p>
      <div class="wrap">
        <mbsc-calendar-prev></mbsc-calendar-prev>
        <mbsc-calendar-next></mbsc-calendar-next>
      </div>
    </ng-template>
  </mbsc-datepicker>
</div>
