<ion-header>
  <ion-toolbar>
    <ion-title>회원가입</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon=""> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 아이디 -->
  <div class="validation">
    <h3>아이디 <span>*</span></h3>
    <ion-item class="join-input-wrap">
      <ion-input
        [(ngModel)]="users.email"
        (ionChange)="emailChange()"
        inputmode="email"
        type="email"
        placeholder="아이디를 입력해주세요."
      ></ion-input>
      <ion-button (click)="checkEmail()" fill="clear" class="border-btn" [disabled]="!emailExpression()"> 중복확인 </ion-button>
    </ion-item>
    <!-- validation -->
    <h4 class="error" *ngIf="users.email && !emailExpression()">이메일 형식을 맞춰주세요.</h4>
  </div>

  <!-- 비밀번호 -->
  <div class="validation">
    <h3>비밀번호 <span>*</span></h3>
    <ion-item class="join-input-wrap">
      <ion-input
        [(ngModel)]="password"
        inputmode="text"
        type="password"
        placeholder="비밀번호를 입력해주세요."
        minlength="6"
        maxlength="12"
      ></ion-input>
    </ion-item>
    <!-- validation -->
    <h4 class="error" *ngIf="password && !passwordExpression()">6자 이상 12자 이하의 영문과 특수문자 조합</h4>
  </div>

  <!-- 비밀번호 확인 -->
  <h3>비밀번호확인 <span>*</span></h3>
  <ion-item class="join-input-wrap m-bottom">
    <ion-input
      [(ngModel)]="confirmPassword"
      inputmode="text"
      type="password"
      placeholder="비밀번호를 한번 더 입력해주세요."
      minlength="6"
      maxlength="12"
    ></ion-input>
  </ion-item>

  <!-- 이름 -->
  <h3>이름 <span>*</span></h3>
  <ion-item class="join-input-wrap m-bottom">
    <ion-input [(ngModel)]="users.name" inputmode="text" type="text" placeholder="이름을 입력해 주세요."></ion-input>
  </ion-item>

  <!-- 이메일 -->
  <!-- <h3>이메일 <span>*</span></h3>
  <ion-item class="join-input-wrap m-bottom">
    <ion-input [(ngModel)]="users.email" inputmode="email" type="email" placeholder="이메일 주소를 입력해 주세요."></ion-input>
    <ion-button (click)="checkEmailOk()" fill="clear" class="border-btn"> 중복확인 </ion-button>
  </ion-item> -->

  <!-- 휴대폰 -->
  <h3>휴대폰 <span>*</span></h3>
  <ion-item class="join-input-wrap">
    <ion-input (ionChange)="phoneChange()" [(ngModel)]="users.phone" inputmode="numeric" type="tel" placeholder="숫자만 입력하세요."></ion-input>
    <ion-button (click)="authenticate()" fill="clear" class="border-btn" [disabled]="!users.phone"> 인증번호 받기 </ion-button>
  </ion-item>

  <!-- 인증번호 확인 -->
  <ion-item class="join-input-wrap m-bottom m-top">
    <ion-input [(ngModel)]="certifyNum" inputmode="text" type="text"></ion-input>
    <ion-button (click)="checkedNumber()" fill="clear" class="border-btn" [disabled]="!sendSwitch"> 인증번호 확인 </ion-button>
  </ion-item>

  <!-- 주소-->
  <h3>주소 <span>*</span></h3>
  <ion-item class="join-search-wrap" (click)="openDaumPopup()">
    <ion-input [(ngModel)]="address" inputmode="text" type="text" placeholder="도로명, 지번, 건물명 검색" readonly></ion-input>
    <ion-button fill="clear">
      <img src="assets/images/join-search-icon.png" alt="" />
    </ion-button>
  </ion-item>
  <ion-item class="join-search-wrap">
    <ion-input [(ngModel)]="address2" inputmode="text" type="text" placeholder="나머지 주소를 입력해 주세요."></ion-input>
  </ion-item>
</ion-content>

<ion-footer class="join-footer">
  <ion-toolbar>
    <ion-item class="agree-box">
      <ion-checkbox [(ngModel)]="agree"></ion-checkbox>
      <ion-label class="all-agree">개인 정보 이용에 동의합니다.</ion-label>
    </ion-item>
    <ion-button (click)="goCom()" fill="clear" class="basic-btn"> 가입하기 </ion-button>
  </ion-toolbar>
  <div id="recaptcha-container"></div>
</ion-footer>

<!-- 주소 api -->
<div #address_pop style="display: none; position: fixed; overflow: hidden; z-index: 1; -webkit-overflow-scrolling: touch">
  <div class="close-btn">
    <img
      (click)="closeAddressPopup()"
      src="assets/images/icon-address-done.png"
      style="cursor: pointer; position: absolute; right: -1px; top: -1px; width: 18px; height: 18px; z-index: 1"
    />
  </div>
</div>
