<!-- Screen ID : UI L-0002 -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon=""> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="account-login-wrap">
    <h1>
      <img src="assets/images/logo-black.png" alt="" />
    </h1>

    <div class="validation-wrap" *ngIf="emailValidate">
      <ion-item [ngClass]="email && !isEmail?  'input-vali-wrap' : 'input-wrap'">
        <ion-input placeholder="구글 이메일" inputmode="text" type="email" [(ngModel)]="email" (ionChange)="changeEmail()"></ion-input>
      </ion-item>
      <ng-container *ngIf="email && !isEmail">
        <p>이메일 형식을 맞춰주세요.</p>
      </ng-container>
    </div>

    <div class="validation-wrap" *ngIf="!emailValidate">
      <ion-item class="input-vali-wrap">
        <ion-input placeholder="구글 이메일" inputmode="text" type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <p>이메일을 입력해주세요</p>
    </div>

    <div class="validation-wrap" *ngIf="passwordValidate">
      <ion-item [ngClass]="password && !isPass?  'input-vali-wrap' : 'input-wrap'">
        <ion-input placeholder="비밀번호" inputmode="text" type="password" [(ngModel)]="password" (ionChange)="changePass()"></ion-input>
      </ion-item>
      <ng-container *ngIf="password && !isPass">
        <p>6자 이상 12자 이하의 영문과 특수문자로 입력해주세요</p>
      </ng-container>
    </div>

    <div class="validation-wrap" *ngIf="!passwordValidate">
      <ion-item class="input-vali-wrap">
        <ion-input placeholder="비밀번호" inputmode="text" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <p>비밀번호를 입력해주세요</p>
    </div>

    <div class="find-wrap">
      <ion-button fill="clear" class="find-id" (click)="findId()"> 아이디 찾기 </ion-button>
      <span></span>
      <ion-button fill="clear" class="find-pw" (click)="findPw()"> 비밀번호 찾기 </ion-button>
    </div>

    <ion-button class="basic-btn" fill="clear" (click)="login()"> 로그인 </ion-button>

    <ion-button class="main-border" fill="clear" (click)="goJoin()"> 회원가입 </ion-button>
  </div>
</ion-content>
