<!-- Screen ID : UI S-0004 -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goSetting()" fill="clear" class="back-btn"> </ion-button>
    </ion-buttons>
    <ion-title>정보</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="info-wrap">
    <div class="icon"></div>
    <ng-container *ngFor="let item of master">
      <p>버전 {{item.version}}</p>
    </ng-container>

    <ion-item>
      <img src="assets/images/mail-icon.png" alt="" />
      <ion-label>
        <p>E-mail</p>
        <ng-container *ngIf="user$ | async as user">
          <p class="main-color">{{user.email}}</p>
        </ng-container>
      </ion-label>
    </ion-item>
    <ion-button fill="clear" (click)="goLogout()"> 로그아웃 </ion-button>
  </div>
</ion-content>
