@import '../../../theme/mixin.scss';
//@include font(#161616, 300, 0.875rem, 1.0625rem);

ion-content {
  .all-back {
    width: 100vw;
    min-height: 100vh;
    background: url(../../../assets/samples/plant-background.png) no-repeat center center;
    background-size: cover;
  }
  .header-wrap {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 300;
    background: transparent;
    &.active {
      background: #fff;
      transition: background ease-in-out 0.2s;
    }

    h2 {
      text-align: center;
      @include font(#161616, 600, 1rem, 1.1875rem);
    }
    .back-btn {
      width: 1.875rem;
      height: 1.875rem;
      background: url(../../../assets/images/back-icon.png) no-repeat center center/ 100% 100%;
    }

    .left {
      width: 1.875rem;
      height: 1.875rem;
    }
  }

  //날짜 버튼
  .top-btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .calendar-btn {
      font-size: 1rem;
      line-height: 1.1875rem;
      font-weight: 600;
      .icon {
        width: 1.875rem;
        height: 1.875rem;
        background: url(../../../assets/images/report-arrow.png) no-repeat center center / 100% 100%;
      }
    }
  }

  .report-wrap {
    padding: 0 1.25rem;
    &.month-padding {
      height: 100vh;
    }
  }
}

.padding-wrap {
  padding-top: 1.25rem;
}

//차트
.chart-wrap {
  background: #fff;
  margin-bottom: 0.625rem;
  border-radius: 6px;

  //월간 스크롤 달력
  .chart-test {
    max-width: 100%;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }
    .chart {
      min-width: 400px;
      min-height: 7.1875rem;
    }
  }
}

//차트 패딩 주간/ 월간
.week {
  padding: 0.9375rem 0.1875rem 0.8125rem;
  .title-wrap {
    img {
      margin-left: 1rem;
    }
  }
}

.month {
  padding: 0.9375rem 1.0625rem 0 1.0625rem;
}

.title-wrap {
  display: flex;
  align-items: center;
  img {
    width: 1.625rem;
    height: 1.625rem;
    margin-right: 0.25rem;
  }

  p {
    @include font(#161616, 600, 0.9375rem, 1.125rem);
  }
}
