<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" class="back-btn"> </ion-button>
    </ion-buttons>
    <ion-title>Bluetooth 리스트</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="device-list">
    <div class="device">
      <div class="name-wrap">
        <p class="name">ㅇㅇ의 블루투스</p>
        <p class="id">F&C#DK:F:KJDKHJ-BAC@</p>
      </div>
      <ion-button (click)="onClick()" fill="clear"> 연결하기 </ion-button>
    </div>
    <div class="device">
      <div class="name-wrap">
        <p class="name">ㅇㅇ의 블루투스</p>
        <p class="id">F&C#DK:F:KJDKHJ-BAC@</p>
      </div>
      <ion-button (click)="onClick()" fill="clear"> 연결하기 </ion-button>
    </div>
    <div class="device">
      <div class="name-wrap">
        <p class="name">ㅇㅇ의 블루투스</p>
        <p class="id">F&C#DK:F:KJDKHJ-BAC@</p>
      </div>
      <ion-button (click)="onClick()" fill="clear"> 연결하기 </ion-button>
    </div>
    <div class="device">
      <div class="name-wrap">
        <p class="name">ㅇㅇ의 블루투스</p>
        <p class="id">F&C#DK:F:KJDKHJ-BAC@</p>
      </div>
      <ion-button (click)="onClick()" fill="clear"> 연결하기 </ion-button>
    </div>
    <div class="device">
      <div class="name-wrap">
        <p class="name">ㅇㅇ의 블루투스</p>
        <p class="id">F&C#DK:F:KJDKHJ-BAC@</p>
      </div>
      <ion-button (click)="onClick()" fill="clear"> 연결하기 </ion-button>
    </div>
    <div class="device">
      <div class="name-wrap">
        <p class="name">ㅇㅇ의 블루투스</p>
        <p class="id">F&C#DK:F:KJDKHJ-BAC@</p>
      </div>
      <ion-button (click)="onClick()" fill="clear"> 연결하기 </ion-button>
    </div>
  </div>
</ion-content>
<ion-footer class="fake-tab">
  <ion-toolbar>
    <app-fake-tab-off></app-fake-tab-off>
  </ion-toolbar>
</ion-footer>
