<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" fill="clear" class="back-btn"> </ion-button>
    </ion-buttons>
    <ion-title>Bluetooth 리스트</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="device-list">
    <ng-container *ngIf="deviceList[0]?.length > 0">
      <div class="device" *ngFor="let item of deviceList[0]">
        <div class="name-wrap">
          <p class="name">{{item.name || 'Unknown'}}</p>
          <p class="id">{{item.id}}</p>
        </div>
        <ion-button (click)="connect(item)" fill="clear"> 연결하기 </ion-button>
      </div>
    </ng-container>
  </div>
</ion-content>
