<!-- Screen ID : UI B-0003 -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()" fill="clear" class="back-btn"> </ion-button>
    </ion-buttons>
    <ion-title>식물 도감</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="plant-info-wrap" *ngIf="plant">
    <div class="top">
      <h2>{{plant.name}}</h2>
      <!-- 식물 등록하기 버튼 -->
      <ion-button *ngIf="!plantSwitch" (click)="completeAlert()" fill="clear" class="add-plant">
        <div class="icon"></div>
        나의 식물 등록하기
      </ion-button>
      <!-- 식물 해제하기 버튼 -->
      <ion-button *ngIf="plantSwitch" (click)="disconnectAlert()" fill="clear" class="remove-plant">
        <div class="icon"></div>
        나의 식물 해제하기
      </ion-button>
    </div>

    <ion-card>
      <img src="assets/samples/plant-sample02.jpeg" alt="" />
    </ion-card>

    <div class="title">
      <img src="assets/images/info-icon.png" alt="" />
      <h3>상세 정보</h3>
    </div>
    <ion-grid class="info">
      <ion-row>
        <ion-col class="row-title">원산지</ion-col>
        <ion-col class="con" size="8.5">{{plant.origin}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="row-title">꽃피는 계절</ion-col>
        <ion-col class="con" size="8.5">{{plant.flowerSeason}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="row-title">열매맺는 계절</ion-col>
        <ion-col class="con" size="8.5">{{plant.fruitSeason}}</ion-col>
      </ion-row>
    </ion-grid>

    <div class="title">
      <img class="icon" src="assets/images/plant-name-icon.png" alt="" />
      <h3>관리 방법</h3>
    </div>
    <ion-grid class="info">
      <ion-row>
        <ion-col class="row-title">적정온도</ion-col>
        <ion-col class="con" size="8.5">{{plant.temperature}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="row-title">적정조도</ion-col>
        <ion-col class="con" size="8.5">{{plant.light}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="row-title">토양습도</ion-col>
        <ion-col class="con" size="8.5">{{plant.soil}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="row-title">난이도</ion-col>
        <ion-col class="con" size="8.5">{{plant.level}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer class="fake-tab">
  <ion-toolbar>
    <app-fake-tab-off></app-fake-tab-off>
  </ion-toolbar>
</ion-footer>
