<!-- Screen ID : UI B-0003 -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()" fill="clear" class="back-btn"> </ion-button>
    </ion-buttons>
    <ion-title>식물 도감</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="plant-info-wrap">
    <div class="top">
      <h2>스킨답서스</h2>
      <ion-button (click)="noDevice()" fill="clear" class="add-plant">
        <div class="icon"></div>
        나의 식물 등록하기
      </ion-button>
      <!-- <ion-button (click)="disconnectAlert()" fill="clear" class="remove-plant">
        <div class="icon"></div>
        나의 식물 해제하기
      </ion-button> -->
    </div>

    <ion-card>
      <img src="assets/samples/plant-sample02.jpeg" alt="" />
    </ion-card>

    <div class="title">
      <img src="assets/images/info-icon.png" alt="" />
      <h3>상세 정보</h3>
    </div>
    <ion-grid class="info">
      <ion-row>
        <ion-col class="row-title" size="3.2">원산지</ion-col>
        <ion-col class="con">정보</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="row-title" size="3.2">꽃피는 계절</ion-col>
        <ion-col class="con">정보</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="row-title" size="3.2">열매맺는 계절</ion-col>
        <ion-col class="con">정보</ion-col>
      </ion-row>
    </ion-grid>

    <div class="title">
      <img class="icon" src="assets/images/plant-name-icon.png" alt="" />
      <h3>관리 방법</h3>
    </div>
    <ion-grid class="info">
      <ion-row>
        <ion-col class="row-title" size="3.2">적정온도</ion-col>
        <ion-col class="con">보통 (약간 잘 견딤)</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="row-title" size="3.2">적정조도</ion-col>
        <ion-col class="con">낮은 광도 (300~800lux) </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="row-title" size="3.2">토양수분</ion-col>
        <ion-col class="con">정보</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="row-title" size="3.2">물주기</ion-col>
        <ion-col class="con">정보</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer class="fake-tab">
  <ion-toolbar>
    <app-fake-tab-off></app-fake-tab-off>
  </ion-toolbar>
</ion-footer>
