<!-- Screen ID : UI P-0001 장치추가 알람-->
<!-- Screen ID : UI P-0002 식물목록-->

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div class="header-wrap" [ngClass]="{'active': headerBackSwitch}">
    <ion-buttons slot="start">
      <ion-button (click)="goChatList()" fill="clear" class="back-btn"> </ion-button>
    </ion-buttons>
    <h2>분구</h2>
    <div class="left"></div>
  </div>

  <div class="detail-wrap" id="scrollBox" *ngIf="chat$ | async as chat">
    <ng-container *ngFor="let chat of chat.messages; let i = index">
      <ion-item class="user-item" *ngIf="chat.uid == botId">
        <ion-avatar>
          <img src="assets/samples/chatting-profile.png" alt="" />
        </ion-avatar>
        <ion-label>
          <p class="content">{{chat.chatContent}}</p>
        </ion-label>
        <p class="time">{{chat.createdAt | date : 'HH:mm'}}</p>
      </ion-item>

      <ion-item class="chat-item" *ngIf="chat.uid == myId">
        <p class="time">{{chat.createdAt | date : 'HH:mm'}}</p>
        <ion-label>
          <p class="content">{{chat.chatContent}}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </div>
</ion-content>

<ion-footer>
  <!-- TODO 글씨 입력했을 때 디자인 없음 :확인하고 패딩값! -->
  <ion-toolbar class="chat-box">
    <ion-item class="input-chat-wrap">
      <ion-input type="text" inputmode="text" [(ngModel)]="message" (ionFocus)="scrollBottom()" (keyup.enter)="sendMessage()"></ion-input>
    </ion-item>
  </ion-toolbar>
</ion-footer>
