<!-- Screen ID : UI S-0001 -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()" fill="clear" class="back-btn"> </ion-button>
    </ion-buttons>
    <ion-title>개인 설정</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="setting-wrap" *ngIf="user$ | async as user">
    <div class="profile">
      <ion-button fill="clear">
        <!-- 등록한 이미지가 없을 때 기본 사진. -->
        <ng-container *ngIf="user?.profileImage.length == 0">
          <img src="assets/images/profile.png" alt="userProfile" (click)="changeImage()" />
        </ng-container>
        <!-- 이미지 있을 때 -->
        <ng-container *ngIf="user?.profileImage.length > 0">
          <img src="{{user.profileImage}}" alt="userProfile" (click)="changeImage()" />
        </ng-container>
      </ion-button>
      <img class="plus" src="assets/images/add-icon.png" alt="" />
    </div>

    <p>{{user.email}}</p>

    <div class="list-wrap">
      <ion-item (click)="goFaq()">
        <img src="assets/images/setting-faq-icon.png" alt="" />
        <ion-label>FAQ</ion-label>
        <img src="assets/images/setting-next-btn.png" alt="" />
      </ion-item>
      <ion-item (click)="goContract()">
        <img src="assets/images/setting-constract-icon.png" alt="" />
        <ion-label>사용자 계약</ion-label>
        <img src="assets/images/setting-next-btn.png" alt="" />
      </ion-item>
      <ion-item (click)="goInfo()">
        <img src="assets/images/setting-info-icon.png" alt="" />
        <ion-label>정보</ion-label>
        <img src="assets/images/setting-next-btn.png" alt="" />
      </ion-item>
      <ion-item (click)="deleteCashAlert()">
        <img src="assets/images/setting-delete-icon.png" alt="" />
        <ion-label>캐시 삭제</ion-label>
        <img src="assets/images/setting-next-btn.png" alt="" />
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-footer class="fake-tab">
  <ion-toolbar>
    <app-fake-tab-off></app-fake-tab-off>
  </ion-toolbar>
</ion-footer>
