ion-content {
  .padding-wrap {
    padding: 0.4688rem 1.25rem;

    h3 {
      font-size: 0.9375rem;
      font-weight: 500;
      line-height: 1.125rem;
      color: #161616;
      margin-bottom: 0.625rem;
    }

    .basic-btn {
      margin-top: 1.3125rem;
    }
  }
}
