<ion-header>
  <ion-toolbar>
    <ion-title>회원가입</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon=""> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 1. 주소 입력 전 화면 -->
  <ion-item class="address-search-wrap" (click)="openDaumPopup()">
    <ion-input inputmode="text" type="text" placeholder="예) 판교역로 235, 분당 주공, 삼평동 681" readonly></ion-input>
    <ion-button fill="clear">
      <img src="assets/images/join-search-icon.png" alt="" />
    </ion-button>
  </ion-item>

  <!-- 2. 주소 검색 후 화면 -->
  <div class="padding-wrap" *ngIf="this.search">
    <h3>{{this.search}}</h3>
    <ion-item class="join-input-wrap m-bottom">
      <ion-input inputmode="text" type="text" placeholder="나머지 주소를 입력해 주세요."></ion-input>
    </ion-item>

    <ion-button (click)="goJoin()" class="basic-btn" expand="block" fill="clear" shape="round"> 저장 </ion-button>
  </div>
</ion-content>

<!-- 주소 api -->
<div #address_pop style="display: none; position: fixed; overflow: hidden; z-index: 1; -webkit-overflow-scrolling: touch">
  <div class="close-btn">
    <div #address_pop style="display: none; position: fixed; overflow: hidden; z-index: 1; -webkit-overflow-scrolling: touch">
      <img
        (click)="closeAddressPopup()"
        src="assets/images/icon-address-done.png"
        style="cursor: pointer; position: absolute; right: -1px; top: -1px; width: 18px; height: 18px; z-index: 1"
      />
    </div>
  </div>
</div>
