@import '../../../../theme/mixin.scss';
//@include font(#161616, 300, 0.875rem, 1.0625rem);

ion-content {
  --padding-start: 1rem;
  --padding-end: 1rem;
}

#pass-confirm-wrap {
  padding-top: 9.1875rem;
  h3 {
    text-align: center;
    margin-bottom: 2rem;
    @include font(#161616, 500, 1rem, 1.1875rem);
  }
}
