<!-- Screen ID : UI D-0003 -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goDiary()" fill="clear" class="back-btn"> </ion-button>
    </ion-buttons>
    <ion-title>일기장</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="diary-detail-wrap">
    <div class="wrap">
      <h2>{{diaryData.postDate | date: 'yyyy.MM.dd'}}</h2>
      <ion-button fill="clear" class="edit-btn" (click)="goDiaryWrite()"> </ion-button>
    </div>

    <div class="pic" *ngIf="diaryData.images?.length > 0">
      <ion-card>
        <img (contextmenu)="onRightClick($event)" src="{{diaryData?.images[0]}}" alt="" />
      </ion-card>
    </div>

    <p>{{diaryData.content}}</p>
  </div>
</ion-content>

<ion-footer class="fake-tab">
  <ion-toolbar>
    <app-fake-tab-off></app-fake-tab-off>
  </ion-toolbar>
</ion-footer>
