<!-- Screen ID : UI C-0001 튜토리얼 -->
<!-- Screen ID : UI C-0002 대화 리스트-->

<ion-content>
  <div class="header-wrap">
    <ion-buttons slot="start">
      <ion-button (click)="goHome()" fill="clear" class="back-btn"> </ion-button>
    </ion-buttons>
    <h2>대화</h2>
    <div class="left"></div>
  </div>
  <ng-container *ngIf="userInfo$ | async as userInfo">
    <ng-container *ngIf="chat$ | async as list">
      <div id="chatting-list" *ngIf="list?.length > 0">
        <ion-item-sliding *ngFor="let chat of list">
          <ion-item (click)="goChatDetail(chat)">
            <ion-avatar>
              <img src="assets/images/plant-name-icon.png" alt="" />
            </ion-avatar>
            <ng-container *ngIf="chat.messages[chat.messages.length - 1] as lastMsg">
              <ion-label>
                <p class="title">분구</p>
                <p class="con">{{ lastMsg.chatContent}}</p>
              </ion-label>
              <span>{{ lastMsg.createdAt | dateFormat }}</span>
            </ng-container>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="deleteMessageAlert(chat)">나가기</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ng-container>

    <!-- 처음 한번만 보여지는 튜토리얼 -->
    <div id="tutorial-wrap" *ngIf="!userInfo.chatEnterSwitch">
      <ion-button fill="clear" (click)="tutorialCheck()">
        다시보지 않기
        <div class="icon"></div>
      </ion-button>

      <div class="tutorial-item">
        <ion-avatar>
          <img src="assets/samples/chatting-profile.png" alt="" />
        </ion-avatar>
        <ion-label>
          <p class="title">화분 친구</p>
          <p class="con">모든게 다 잘 될거야 !</p>
        </ion-label>
      </div>

      <div class="arrow-wrap">
        <div class="icon"></div>
        <p>
          AI 감정친구 화분친구의<br />
          프로필을 눌러 대화해보세요 :)
        </p>
      </div>
    </div>
  </ng-container>
</ion-content>
