ion-menu {
  --height: calc(100vh - 56px);
  --background: rgba(255, 255, 255, 0.8);
  ion-content {
    --background: rgba(255, 255, 255, 0);
    // background: ;
  }
}

.header-wrap {
  width: 100%;
  padding: 0.8125rem 1.0625rem;
  ion-button {
    display: flex;
    justify-content: flex-end;
    width: 1.875rem;
    height: 1.875rem;
    background: url(../assets/images/menu-close-btn.png) no-repeat center center / 100%;
  }
}

.menu-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
