<!-- Screen ID : UI L-0003 -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="back()" fill="clear" class="close-back"> </ion-button>
    </ion-buttons>
    <ion-title>비밀번호 찾기</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="find-id-wrap">
    <!-- 일반 이름 입력창 -->
    <div class="basic-wrap">
      <h3>이메일</h3>
      <ion-item class="input-wrap margin">
        <ion-input type="email" inputmode="email" placeholder="이메일을 입력해주세요." [(ngModel)]="email"></ion-input>
      </ion-item>
    </div>

    <!-- validation 나타날 때 입력창 입니다.  -->
    <!-- <div class="validation-wrap margin" *ngIf="!nameCheck">
      <div class="top">
        <h3>이름</h3>
        <p>올바른 이름을 입력해주세요</p>
      </div>
      <ion-item class="input-vali-wrap">
        <ion-input type="text" inputmode="text" placeholder="이름을 입력해주세요" [(ngModel)]="name"></ion-input>
      </ion-item>
    </div> -->

    <div class="basic-wrap">
      <h3>휴대폰 번호</h3>
      <ion-item class="input-wrap">
        <ion-input inputmode="numeric" type="tel" placeholder="휴대폰 번호를 입력해주세요." [(ngModel)]="phone"></ion-input>
      </ion-item>
    </div>

    <!-- validation 나타날 때 비밀번호 입력창 입니다.  -->
    <!-- <div class="validation-wrap">
      <div class="top">
        <h3>휴대폰 번호</h3>
        <p>올바른 이름을 입력해주세요</p>
      </div>
      <ion-item class="input-vali-wrap">
        <ion-input inputmode="numeric" type="tel" placeholder="비밀번호"></ion-input>
      </ion-item>
    </div> -->

    <ion-button class="basic-btn certification" fill="clear" (click)="authenticate()"> 인증번호 받기 </ion-button>

    <!-- 일반 인증번호 인풋창 -->
    <div class="basic-wrap">
      <h3>인증번호</h3>
      <ion-item class="input-wrap">
        <ion-input inputmode="numeric" type="numeric" placeholder="인증번호 숫자 6자리" maxlength="6" [(ngModel)]="certifyNum"></ion-input>
      </ion-item>
    </div>

    <!-- validation 나타날 때 인증번호 입력창 입니다. -->
    <!-- <div class="validation-wrap">
      <div class="top">
        <h3>인증번호</h3>
        <p>올바른 인증 번호를 입력해주세요.</p>
      </div>
      <ion-item class="input-vali-wrap">
        <ion-input inputmode="numeric" type="numeric" placeholder="인증번호 숫자 6자리" maxlength="6"></ion-input>
      </ion-item>
    </div> -->

    <ion-button class="basic-btn" fill="clear" (click)="complete()"> 확인 </ion-button>
  </div>
  <div id="recaptcha-container"></div>
</ion-content>
