<!-- Screen ID : UI L-0005 -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="back()" fill="clear" class="close-back"> </ion-button>
    </ion-buttons>
    <ion-title>비밀번호 찾기</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="find-id-wrap">
    <!-- 일반 입력창 -->
    <div class="basic-wrap margin">
      <h3>새 비밀번호</h3>
      <ion-item class="input-wrap">
        <ion-input type="password" inputmode="text" placeholder="새 비밀번호를 입력해주세요." minlength="8"></ion-input>
      </ion-item>
      <div class="text-wrap">
        <h4>8자 이상 입력</h4>
        <h4>영문/숫자/특수문자(공백 제외)만 허용하며, 2개 이상 조합</h4>
        <h4>동일한 숫자 3개 연속 사용 불가</h4>
      </div>
    </div>

    <!-- validation 나타날 때 입력창 입니다.  -->
    <!-- <div class="validation-wrap margin">
      <div class="top">
        <h3>새 비밀번호</h3>
        <p>비밀번호 형식에 맞게 입력해주세요.</p>
      </div>
      <ion-item class="input-vali-wrap">
        <ion-input type="password" inputmode="text" placeholder="새 비밀번호를 입력해주세요." maxlength="12" minlength="6"></ion-input>
      </ion-item>
      <div class="text-wrap">
        <h4>8자 이상 입력</h4>
        <h4>영문/숫자/특수문자(공백 제외)만 허용하며, 2개 이상 조합</h4>
        <h4>동일한 숫자 3개 연속 사용 불가</h4>
      </div>
    </div> -->

    <div class="basic-wrap">
      <h3>새 비밀번호 확인</h3>
      <ion-item class="input-wrap">
        <ion-input inputmode="text" type="password" placeholder="새 비밀번호를 재입력해주세요." maxlength="12" minlength="6"></ion-input>
      </ion-item>
    </div>

    <!-- validation 나타날 때 비밀번호 입력창 입니다.  -->
    <!-- <div class="validation-wrap">
      <div class="top">
        <h3>새 비밀번호 확인</h3>
        <p>새 비밀번호와 같은 비밀번호를 입력해주세요.</p>
      </div>
      <ion-item class="input-vali-wrap">
        <ion-input inputmode="text" type="password" placeholder="새 비밀번호를 재입력해주세요." maxlength="12" minlength="6"></ion-input>
      </ion-item>
    </div> -->

    <ion-button class="basic-btn" fill="clear" (click)="goPassConfirm()"> 확인 </ion-button>
  </div>
</ion-content>
