<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()" fill="clear" class="back-btn"> </ion-button>
    </ion-buttons>
    <ion-title>Bluetooth 연결</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="device-list">
    <ng-container *ngIf="deviceList[0]?.length > 0">
      <ion-item *ngFor="let item of deviceList[0]">
        <ion-label (click)="connect(item.id)">
          <p class="name">{{item.name || 'Unnamed'}}</p>
          <p class="name">{{item.id}}</p>
          <p class="connect">연결됨</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </div>
  <ion-button (click)="findDevice()" fill="clear"> 장치 추가하기 </ion-button>
</ion-content>
<ion-footer class="fake-tab">
  <ion-toolbar>
    <app-fake-tab-off></app-fake-tab-off>
  </ion-toolbar>
</ion-footer>
