@import '../../../theme/mixin.scss';
//@include font(#161616, 300, 0.875rem, 1.0625rem);

ion-header {
  ion-toolbar {
    --background: #afd365;
    .back-btn {
      width: 1.875rem;
      height: 1.875rem;
      background: url(../../../assets/images/back-icon.png) no-repeat center center/ 100%;
    }
  }
}

ion-content {
  position: relative;
  --background: #afd365;
  --padding-top: 7rem;
  .loading {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../../../assets/images/loading-circle.png) no-repeat center center / 100%;

    //장치 찾고 있을 때
    .find-device {
      img {
        margin: 0 auto;
        width: 1.6525rem;
        height: 2.5681rem;
      }
      p {
        margin-top: 0.25rem;
        @include font(#fff, 400, 0.875rem, 1.375rem);
      }
    }

    //장치 못 찾았을 때
    .not-find-device {
      img {
        margin: 0 auto;
        width: 3.2106rem;
        height: 3.2969rem;
      }
      p {
        margin-top: 0.25rem;
        @include font(#fff, 400, 0.875rem, 1.375rem);
      }
    }
  }
  .find {
    text-align: center;
    margin-top: 1.625rem;
    @include font(#fff, 400, 0.875rem, 1.375rem);
  }

  //  테두리 조각
  .circle {
    position: relative;
    .bar {
      position: absolute;
      top: -5px;
      left: -5px;
      right: 0;
      bottom: 0;
      width: 190px;
      height: 190px;

      border-color: transparent rgba(255, 255, 255, 1) transparent transparent;
      border-radius: 50%;
      background: transparent;
      animation: circle 4s linear infinite;
      background: url(../../../assets/images/loading-bar-icon.png) no-repeat center center / 100%;
    }
  }

  @keyframes circle {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  //작은 원 css
  .loader-circle {
    position: absolute;
    z-index: 3000;
    top: 126px;
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: transparent;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: loader-circle 3s linear infinite;
    animation: loader-circle 3s linear infinite;
  }

  .loader-circle:after {
    content: '';
    position: absolute;
    right: 50%;
    top: -19px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
  }

  @-webkit-keyframes loader-circle {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes loader-circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  ion-button {
    position: absolute;
    left: 50%;
    bottom: 6.0625rem;
    transform: translateX(-50%);
    width: calc(100% - 1rem - 1.125rem);
    height: 2.875rem;
    --background: #fff;
    --border-radius: 4px;
    color: #afd365;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 1.125rem;
  }
}
