<!-- Screen ID : UI B-0001 -->
<!-- Screen ID : UI B-0002 -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()" fill="clear" class="back-btn"> </ion-button>
    </ion-buttons>
    <ion-title>식물 도감</ion-title>
  </ion-toolbar>
  <ion-item class="book-searchbar-item">
    <ion-searchbar
      [(ngModel)]="keyword"
      placeholder="식물을 검색해주세요."
      inputmode="search"
      type="search"
      [debounce]="250"
      (ionInput)="searchChange()"
      (search)="search()"
      clearIcon
    ></ion-searchbar>
  </ion-item>
</ion-header>

<ion-content>
  <ng-container *ngIf="plant$ | async as plant">
    <div id="plant-book-wrap">
      <!-- 검색 결과가 없을 때 -->
      <!-- 인기 식물 리스트 -->
      <div class="popular" *ngIf="!keyword">
        <h2>인기 식물</h2>
        <ng-container *ngFor="let topList of plant | slice: 0:10">
          <ion-item (click)="goPlantBookDetail(topList.id)">
            <ion-card>
              <img [src]="topList.plantImage ? topList.plantImage : 'assets/images/default-img.png'" alt="" />
            </ion-card>
            <ion-label>
              <p class="title">{{topList.name}}</p>
              <p class="name">{{topList.secondName}}</p>
            </ion-label>
          </ion-item>
        </ng-container>
      </div>
      <!-- 검색결과 입니다 -->
      <div class="search-result" *ngIf="searchMode ? (plant | plantSearch : keyword) : plant as plant">
        <div class="empty" *ngIf="plant?.length == 0">
          <img [src]="item.plantImage ? item.plantImage : 'assets/images/default-img.png'" alt="" />
          <p>식물의 종류를 찾을 수 없어요.</p>
        </div>
        <ng-container *ngIf="searchMode && plant?.length > 0">
          <ion-item *ngFor="let item of plant | plantSearch : keyword" (click)="goPlantBookDetail(item.id)">
            <ion-card>
              <img [src]="item.plantImage ? item.plantImage : 'assets/images/default-img.png'" alt="" />
            </ion-card>
            <ion-label>
              <p class="title">{{item.name}}</p>
              <p class="name">{{item.secondName}}</p>
            </ion-label>
          </ion-item>
        </ng-container>
      </div>

      <!-- 검색어 입력시 나오는 입력폼입니다 -->
      <div class="search-form" *ngIf="keyword && !searchMode">
        <ng-container *ngFor="let item of plant | plantSearch : keyword">
          <div (click)="keywordClick(item)" *ngIf="item">
            <p>{{item.name.split(keyword)[0]}}<span>{{ item.name.match(keyword) }}</span>{{item.name.split(keyword)[1]}}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ion-content>

<ion-footer class="fake-tab">
  <ion-toolbar>
    <app-fake-tab-off></app-fake-tab-off>
  </ion-toolbar>
</ion-footer>
