<!-- Screen ID : UI P-0001 식물 등록 알림창-->
<!-- Screen ID : UI P-0002 식물 목록-->

<ion-content>
  <div class="background-wrap">
    <div class="header-wrap">
      <ion-buttons slot="start">
        <ion-button (click)="goHome()" fill="clear" class="back-btn"> </ion-button>
      </ion-buttons>
      <h2>식물</h2>
      <div class="left"></div>
    </div>

    <!-- 식물이 있는 경우! 없는 경우는 class="plant-wrap" 묶음 전체 지웁니다-->
    <div class="plant-wrap" *ngIf="userInfo$ | async as userInfo">
      <span></span>
      <ng-container *ngFor="let item of userInfo.myPlant; let i = index">
        <ion-item (click)="goPlantDetail(item)" class="chat-list">
          <ng-container *ngIf="('plantBook/' + item | doc | async ) as myPlant">
            <ion-avatar>
              <img [src]="myPlant.plantImage ? myPlant.plantImage : 'assets/images/default-img.png'" alt="" />
            </ion-avatar>
            <ion-label> {{myPlant.name}} </ion-label>
            <ng-container *ngIf="currentPlant$ | async as currentPlant">
              <p *ngIf="currentPlant?.length > 0">{{myPlant.name == currentPlant[0].name ? '디바이스와 연결됨' : '나의 식물로 추가됨'}}</p>
              <p *ngIf="currentPlant?.length <= 0">나의 식물로 추가됨</p>
            </ng-container>
          </ng-container>
        </ion-item>
      </ng-container>
      <!-- <ion-item (click)="goPlantDetail()" class="chat-list">
        <ion-avatar>
          <img src="assets/samples/plant-sample02.jpeg" alt="" />
        </ion-avatar>
        <ion-label> 스킨답서스 </ion-label>
        <p>디바이스와 연결됨</p>
      </ion-item> -->
    </div>

    <!-- 이름 수정시 나타나는 input창 -->
    <!-- <ion-item class="hide-name-wrap">
      <ion-input type="text" inputmode="text"></ion-input>
    </ion-item> -->
  </div>
</ion-content>
