@import '../../../theme/mixin.scss';
//@include font(#161616, 300, 0.875rem, 1.0625rem);

ion-header {
  ion-toolbar {
    .back-btn {
      width: 1.875rem;
      height: 1.875rem;
      background: url(../../../assets/images/back-icon.png) no-repeat center center/ 100%;
    }
  }
}

ion-item {
  ion-thumbnail {
    width: 5.375rem;
    height: 5.25rem;
  }
}
