<!-- Screen ID : UI D-0001 -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()" fill="clear" class="back-btn"> </ion-button>
    </ion-buttons>
    <ion-title>일기장</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 달력 -->
  <div class="calendar-wrap" *ngIf="diaryData$ | async as diarys">
    <ion-button fill="clear" class="write-btn" (click)="goWrite()"> </ion-button>
    <mbsc-eventcalendar
      class="calendar"
      [data]="diarys"
      [headerTemplate]="customTemplate"
      [eventTemplate]="myTemplate"
      (onPageLoaded)="test($event)"
      [options]="eventSettings"
    >
      <!-- 연도 -->
      <ng-template #customTemplate>
        <mbsc-calendar-nav></mbsc-calendar-nav>
        <p class="date">{{ date | date: 'yyyy.MM' }}</p>
        <div class="wrap">
          <mbsc-calendar-prev></mbsc-calendar-prev>
          <mbsc-calendar-next></mbsc-calendar-next>
        </div>
      </ng-template>
    </mbsc-eventcalendar>

    <!-- 스크롤 -->
    <ng-template #myTemplate let-data class="template-list">
      <ion-item (click)="goDiaryDetail()" class="text-box">
        <ng-container *ngIf="data.original.image != undefined">
          <ion-card>
            <img src="{{data.original.image}}" alt="" />
          </ion-card>
          <p class="rows-ellipsis">{{data.title}}</p>
        </ng-container>

        <ng-container *ngIf="data.original.image == undefined">
          <ion-card> </ion-card>
          <p class="rows-ellipsis">{{data.title}}</p>
        </ng-container>
      </ion-item>
    </ng-template>
  </div>
</ion-content>

<ion-footer class="fake-tab">
  <ion-toolbar>
    <app-fake-tab-off></app-fake-tab-off>
  </ion-toolbar>
</ion-footer>
