<div class="flex-center">
  <div class="box home" (click)="goHome()">
    <ion-icon></ion-icon>
    <ion-label>홈</ion-label>
  </div>
  <div class="box chat" (click)="goChatting()">
    <ion-icon></ion-icon>
    <ion-label>대화</ion-label>
  </div>
  <div class="box plant" (click)="goPlant()">
    <ion-icon></ion-icon>
    <ion-label class="plant-label">식물</ion-label>
  </div>

  <div class="box menu menu2" (click)="openAppMenu()">
    <ion-icon></ion-icon>
    <ion-label>메뉴</ion-label>
  </div>
</div>
