/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import './././theme/mixin.scss';

/* 기본 리셋 reset*/
*,
html,
body {
  font-size: 16px; // rem 단위 폰트 지정
  color: #161616;
  font-weight: normal;
  line-height: unset;
  letter-spacing: unset;
  /*폰트 반응 금지*/
  -webkit-text-size-adjust: none; /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust: none; /* IE */
  -moz-text-size-adjust: none; /* 파이어폭스 */
  -o-text-size-adjust: none; /* 오페라 구버전 */
}

/* You can add global styles to this file, and also import other style files */
/*reset*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
em,
img,
ins,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
audio,
video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
main,
footer,
header,
hgroup,
menu,
nav,
section {
  box-sizing: border-box;
  display: block;
}
ul,
li,
dl,
dd,
dt {
  box-sizing: border-box;
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  box-sizing: border-box;
}
input,
select {
  vertical-align: middle;
}

img {
  border-style: none;
  display: block;
}
address {
  font-style: normal;
}
button,
input,
textarea,
select,
a {
  border: 0;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

input,
select,
button {
  vertical-align: middle;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
/** Correct the inability to style clickable types in iOS and Safari. */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
/** * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/** * Restore the focus styles unset by the previous rule. */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/** * 1. Add the correct box sizing in IE 10. * 2. Remove the padding in IE 10. */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/** * Correct the cursor style of increment and decrement buttons in Chrome. */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
/** * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari. */
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/** * Remove the inner padding in Chrome and Safari on macOS. */

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
/** * 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

button {
  cursor: pointer;
}

/*reset */

//ionic reset
//ion-header 기본 높이
ion-header {
  ion-toolbar {
    --min-height: 3.5rem;
    --padding-start: 1rem;
    --padding-end: 1.0625rem;
    --padding-top: 0;
    --padding-bottom: 0;
    ion-title {
      @include font(#161616, 600, 1rem, 1.1875rem);
    }
  }
}

ion-footer {
  ion-toolbar {
    --min-height: 2.6875rem;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }
}

.write-footer {
  ion-toolbar {
    --min-height: 3.5rem;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }
}

//ion-header 아래 보더
.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0 0;
}
.footer-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0 0;
}
//ion-list-header
ion-list-header {
  --border-color: transparent;
  min-height: auto;
  padding: 0;
}

ion-tabs {
  ion-tab-bar {
    height: 3.5rem;
    border-top: 1px solid #f0f0f0;
  }
}

//ion-label
ion-label {
  margin: 0;
}

//ion-card
ion-card {
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

ion-card-header {
  padding: 0;
}

ion-card-subtitle {
  margin: 0;
}

.card-content-ios {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
  padding: 0;
}

//ion-item

ion-item {
  --min-height: auto;
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0;
  --background-activated-opacity: 1;
  --background-focused-opacity: 1;
  --background-hover-opacity: 1;
  --background-activated: none;
  --background-focused: none;
  --background-hover: none;
  //lines = none 대체가능
  --inner-border-width: 0 0 0 0;
  .item-inner {
    padding: 0;
  }
}

//ion-item-divider
ion-item-divider {
  --padding-start: 0;
  --inner-padding-end: 0;
  min-height: auto;
}

//ion-button
.sc-ion-buttons-ios-s ion-button:not(.button-round) {
  --border-radius: 0;
}

.sc-ion-buttons-ios-s ion-button {
  margin-inline-start: 0;
  margin-inline-end: 0;
  --padding-start: 0;
  --padding-end: 0;
  margin-left: 0;
  margin-right: 0;
}

ion-button {
  opacity: 1;
  margin: 0;
  padding: 0;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0px !important;
  --padding-top: 0;
  --padding-bottom: 0;
  --background-activated: none;
  --background-focused: none;
  --background-hover: none;
  --background-focused-opacity: 1;
  // height: auto;
  --border-radius: 0;
  --background: transparent;
  &.ion-activated {
    opacity: 0.7;
  }
}

//ion-searchbar
.sc-ion-searchbar-ios-h {
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  // padding-inline-start: 0;
  padding-inline-end: 0;
}

// .searchbar-cancel-button.sc-ion-searchbar-ios {
//   padding-inline-start: 0;
// }

// ion-input
.sc-ion-input-ios-h {
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
}

ion-input {
  .native-input.sc-ion-input-ios {
    padding: 0;
    --placeholder-opacity: 1;
    --placeholder-color: #949494;
  }
}

//인풋 !
.input-wrap {
  padding: 0.75rem 0.5625rem;
  width: 100%;
  height: 2.5625rem;
  border: 1px solid #949494;
  border-radius: 4px;

  > ion-input {
    .native-input.sc-ion-input-ios {
      padding: 0;
      --placeholder-opacity: 1;
      --placeholder-color: #949494;

      @include font(#161616, 400, 0.875rem, 1.0625rem);
    }
  }

  &.item-has-focus {
    border: 1px solid #161616;
  }
}

//채팅 디테일 인풋
.chat-box {
  --padding-top: 0.3125rem;
  --padding-bottom: 0.3125rem;
  --padding-start: 1.75rem;
  --padding-end: 1.75rem;

  .input-chat-wrap {
    --background: #f0f0f0;
    --border-radius: 17px;

    ion-input {
      height: 33px;
      --placeholder-opacity: 1;

      .native-input.sc-ion-input-ios {
        --placeholder-opacity: 1;
        --placeholder-color: #949494;
        padding-inline-start: 1rem;

        @include font(#161616, 400, 0.875rem, 1.0625rem);
      }
    }
  }
}

//validation-wrap
.input-vali-wrap {
  padding: 0.75rem 0.5625rem;
  width: 100%;
  height: 2.5625rem;
  border: 1px solid #da7f8c;
  border-radius: 4px;

  > ion-input {
    .native-input.sc-ion-input-ios {
      padding: 0;
      --placeholder-opacity: 1;
      --placeholder-color: #949494;

      @include font(#161616, 400, 0.875rem, 1.0625rem);
    }
  }
}

//textarea
.native-textarea.sc-ion-textarea-ios {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 14.6875rem !important;
}

.sc-ion-textarea-ios-h {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  word-break: break-all;
  white-space: pre-line;
}
//ion-select
ion-select {
  --padding-top: 0;
  --padding-bottom: 0;
}

//ion-checkbox
ion-checkbox {
  margin: 0;
}

//공통 css
//ion-button 을 back-button 레이아웃으로 사이즈와 url 바꿔서 사용하세요.!
.show-back-button {
  width: 30px;
  height: 30px;
  // background: url(./assets/icon/favicon.png) no-repeat; //url
  background-size: 24px;
  background-position: center;
  background: url(././assets/images/back-icon.png) no-repeat center center / 100%;
}

//######### alert css #########
ion-alert.sc-ion-alert-ios-h {
  --max-width: 335px !important;
  --width: 100%;

  ion-backdrop.sc-ion-alert-ios {
    background-color: var(--ion-backdrop-color, #161616); //디자인 권장   background-color 값 추후 프로젝트에 맞게 수정해주세요.
  }
  --backdrop-opacity: 0.5; //디자인 권장 opacity 값 추후 프로젝트에 맞게 수정해주세요.
}

//버튼 두개 alert
.two-btn {
  .alert-wrapper {
    border-radius: 6px !important;
  }
  .alert-head.sc-ion-alert-ios {
    padding: 0;
  }
  .alert-message {
    @include font(#161616, 500, 1rem, 1.1875rem);
    padding-top: 3.5rem;
    padding-bottom: 2.625rem;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
  }

  .alert-button-group {
    background-color: #fff;
    .alert-button {
      border: 0;
      height: 3.125rem;
      background: #afd365;
      span {
        @include font(#fff, 500, 1rem, 1.1875rem);
      }

      &.alert-button-role-cancel {
        background: #fff;

        span {
          @include font(#afd365, 500, 1rem, 1.1875rem);
        }
      }
    }
  }
}

//헤더있는 버튼두개 alert
.two-btn-header {
  .alert-wrapper {
    border-radius: 6px !important;
  }
  .alert-head.sc-ion-alert-ios {
    padding-top: 3.125rem;
    background-color: #fff;
    @include font(#161616, 500, 1rem, 1.1875rem);
  }
  .alert-message {
    @include font(#161616, 400, 0.9375rem, 1.125rem);

    padding-bottom: 2.625rem;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
  }

  .alert-button-group {
    background-color: #fff;
    .alert-button {
      border: 0;
      height: 3.125rem;
      background: #afd365;
      span {
        @include font(#fff, 500, 1rem, 1.1875rem);
      }

      &.alert-button-role-cancel {
        background: #fff;

        span {
          @include font(#afd365, 500, 1rem, 1.1875rem);
        }
      }
    }
  }
}

//ion-button 잔상 수정
ion-button:not(.ion-activated) {
  &:hover {
    opacity: 1;
  }
}

ion-button {
  margin: 0;
  &.basic-btn {
    width: 100%;
    height: 2.875rem;
    --border-radius: 4px;
    --background: #afd365;
    color: #fff;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    font-weight: 600;
  }
}

//메뉴 커스텀
.my-custom-menu {
  --width: calc(50% + 1.25rem);
  // --min-width: 21.3125rem;

  .header-wrap {
    .sc-ion-buttons-ios-h {
      justify-content: flex-end;
    }
  }
  &::part(backdrop) {
    display: none;
  }

  .menu-wrap {
    padding-top: 5.25rem;
    ion-item {
      --padding-top: 1.5rem;
      --padding-bottom: 1.5rem;
      --background: transparent;
      --padding-end: 1.75rem;

      ion-label {
        text-align: right;
        @include font(#161616, 600, 1rem, 1.1875rem);
      }
    }
  }
}

//faq
mat-accordion {
  mat-expansion-panel-header {
    padding-top: 0.875rem;
    padding-bottom: 0.75rem;
    height: 2.75rem;
    border-bottom: 0.5px solid #e4e4e5;

    &.mat-expansion-panel-header {
      padding: 0;
    }
  }
  mat-expansion-panel {
    margin: 0;
    mat-panel-title {
      @include font(#161616, 500, 0.9375rem, 1.125rem);
    }
  }
  .mat-expansion-panel-body {
    padding: 0.5rem 1rem;
    background-color: #f8f8f8;

    white-space: pre-line;
    word-break: break-all;
    p {
      @include font(#161616, 400, 0.9375rem, 1.125rem);
    }
  }
  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
  }
  .mat-expansion-indicator {
    width: 1.1875rem;
    height: 1.1875rem;
    background: url(././assets/images/faq-arrow.png) no-repeat right center/ 1.1875rem;

    &::after {
      display: none;
    }
  }
}

//diary 달력
.calendar-wrap {
  .calendar {
    //타이틀
    .mbsc-ios.mbsc-calendar-controls {
      justify-content: space-between;
    }
    .mbsc-ios.mbsc-eventcalendar .mbsc-calendar-wrapper {
      padding: 0.9375rem 0.5625rem 4.375rem 0.5625rem;
      border: none;

      .mbsc-calendar-day.mbsc-disabled {
        background: #fff;
      }
      .mbsc-ios.mbsc-calendar-header {
        border: none;
        background: #fff;
        justify-content: space-between;
      }
      .mbsc-ios.mbsc-calendar-button.mbsc-button {
        span {
          @include font(transparent, 600, 1rem, 1.1875rem);
        }
      }
      .mbsc-ios.mbsc-calendar-day:after {
        border-color: transparent;
      }

      //월화수목금토일
      .mbsc-ios.mbsc-calendar-week-day {
        @include font(#161616, 500, 0.875rem, 1.0625rem);
        &:first-child {
          color: #da7f8c !important;
        }
      }
      //요일 배경색깔
      .mbsc-calendar-week-days {
        background: #fff !important;
      }
      //세로 칸 선없애기
      .mbsc-calendar-cell {
        width: 3.625rem !important;
        height: 3.9375rem !important;

        border: 0;
        text-align: center;
        display: flex;
        margin: 0;
        justify-content: center;
      }
    }

    //가로 선 없애기
    .mbsc-calendar-row {
      border: none;
    }

    .mbsc-calendar-day-text {
      flex-direction: column;
      justify-content: center;
      margin: 0;
    }

    .calendar .mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
      display: flex;
      width: 2.3125rem !important;
      height: 2.3125rem !important;
      line-height: 1.875rem;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .mbsc-ios.mbsc-calendar-day-marked {
      padding: 0;
    }

    //지난달 일자
    .mbsc-calendar-day-outer .mbsc-calendar-day-text,
    .mbsc-calendar-day-outer .mbsc-calendar-month-name {
      @include font(#f0f0f0, 500, 0.8125rem, 1rem);
      opacity: 1;
    }

    //선택되었을 때
    .mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
      border-color: #afd365;
      background: #afd365;
      margin: 0;
      min-width: 2.3125rem !important;
      height: 2.3125rem !important;
      line-height: 1.875rem !important;
      border: none;
      color: #fff !important;
      @include font(#fff, 400, 0.8125rem, 1rem);
    }

    //오늘 날짜
    .mbsc-ios.mbsc-calendar-week-nr,
    .mbsc-ios.mbsc-calendar-today {
      color: #161616;
    }

    .mbsc-calendar-cell-text {
      @include font(#161616, 400, 0.8125rem, 1rem);
    }

    .mbsc-calendar-cell {
      .mbsc-calendar-cell-inner {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .mbsc-ios.mbsc-calendar-mark {
        background: #da7f8c;
        position: relative;
        top: 11px;
      }

      .mbsc-ios.mbsc-calendar-marks {
        height: 3.125rem;
      }
    }
  }

  .mbsc-calendar-controls {
    padding: 0;
    mbsc-calendar-prev {
      background: url(././assets/images/calendar-arrow-left.png) no-repeat center center / 1.875rem;
      .mbsc-calendar-button {
        padding: 0;
        width: 1.875rem;
        height: 1.875rem;
        .mbsc-button-icon {
          display: none;
        }
      }
    }
    mbsc-calendar-next {
      background: url(./assets/images/calendar-arrow-right.png) no-repeat center center / 1.875rem;
      .mbsc-calendar-button {
        width: 1.875rem;
        height: 1.875rem;
        padding: 0;
        .mbsc-button-icon {
          display: none;
        }
      }
    }
  }

  .mbsc-event-list {
    height: auto !important;
    overflow: scroll !important;
    border-top: 1px solid #f0f0f0;
    padding-top: 0.3125rem;
    .mbsc-list {
      height: auto;
    }
    .mbsc-ios.mbsc-list-item {
      padding: 0.9375rem 1.25rem;
      display: block;
      &:nth-last-of-type(1) {
        // padding-top: 0;
        &::after {
          border: none;
          display: none;
        }
      }
      &.mbsc-ios.mbsc-list-item:before {
        display: none;
        border: none;
      }
    }

    .mbsc-ios.mbsc-list-header {
      display: none;
    }
  }
}

.mbsc-button {
  &:nth-of-type(1) {
    .mbsc-icon {
      background: url(././assets/images/calendar-arrow-left.png) no-repeat center center / 1.875rem;
    }
  }
  &:nth-last-of-type(1) {
    .mbsc-icon {
      background: url(././assets/images/calendar-arrow-right.png) no-repeat center center / 1.875rem;
    }
  }
}

.mbsc-icon {
  svg {
    display: none !important;
  }
}

// 4줄
.rows-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: pre-line;
}

//연도
.mbsc-popup-content {
  width: 16.5625rem;

  .mbsc-ios.mbsc-calendar-controls {
    padding-top: 1.1875rem;
    padding-left: 1.0625rem;
    padding-right: 1rem;
  }

  .mbsc-ios.mbsc-calendar-cell {
    border: none;
    .mbsc-ios.mbsc-calendar-cell-text {
      font-size: 0.9375rem;
      font-weight: 400;
    }
    .mbsc-calendar-cell-inner {
      padding: 0 0.3125rem;
    }

    .mbsc-calendar-year-text {
      min-width: 72px;
      margin: 1.25rem 0;
      padding: 0 0.9375rem;
    }
  }
}

.mbsc-ios.mbsc-calendar-popup .mbsc-popup-arrow,
.mbsc-ios.mbsc-calendar-popup .mbsc-popup-body {
  border: 1px solid #f0f0f0;
}

.mbsc-ios.mbsc-popup-arrow {
  display: none;
}

.mbsc-ios.mbsc-popup-body-round,
.mbsc-ios.mbsc-popup-body-center,
.mbsc-ios.mbsc-popup-body-anchored {
  box-shadow: none !important;
}

.mbsc-ios.mbsc-calendar-button.mbsc-button {
  color: #161616 !important;
  font-size: 1rem;
  font-weight: 600;
}

.mbsc-calendar-table {
  .mbsc-selected .mbsc-calendar-cell-text {
    background: #afd365 !important;
  }
}

//피커

.mbsc-ios.mbsc-calendar-popup .mbsc-popup-body {
  position: absolute;
  right: -62%;
}

@media screen and (max-width: 414px) {
  .mbsc-ios.mbsc-calendar-popup .mbsc-popup-body {
    position: absolute;
    right: -73%;
  }
}
@media screen and (max-width: 375px) {
  .mbsc-ios.mbsc-calendar-popup .mbsc-popup-body {
    position: absolute;
    right: -63%;
  }
}

@media screen and (max-width: 320px) {
  .mbsc-ios.mbsc-calendar-popup .mbsc-popup-body {
    position: absolute;
    right: -43%;
  }
}

@media screen and (max-width: 280px) {
  .mbsc-ios.mbsc-calendar-popup .mbsc-popup-body {
    position: absolute;
    right: -37%;
  }

  .mbsc-popup-content {
    width: 18.75rem;
    .mbsc-ios.mbsc-calendar-controls {
      padding-top: 0.625rem;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
    }

    .mbsc-ios.mbsc-calendar-cell {
      border: none;
      .mbsc-ios.mbsc-calendar-cell-text {
        font-size: 0.9375rem;
        font-weight: 400;
      }
      .mbsc-calendar-cell-inner {
        padding: 0 0.125rem;
      }

      .mbsc-calendar-year-text {
        min-width: 60px;
        margin: 0.625rem 0;
        padding: 0 0.625rem;
      }
    }
  }
}

.mbsc-popup-content {
  .mbsc-calendar-picker-wrapper {
    width: 16.5em;
    height: 13.3125rem;
  }
  .mbsc-ios.mbsc-icon-button {
    padding: 0;
  }
  .mbsc-calendar-button.mbsc-button.mbsc-reset {
    padding: 0;
  }
}

//segment
.segment_wrap {
  ion-segment {
    --background: transperent;
    border: 1px solid #afd365;
    border-radius: 4px;

    ion-segment-button {
      margin: 0;
      min-width: 3.875rem;
      min-height: 29px;
      --indicator-box-shadow: none;
      --background-hover-opacity: 0;
      --ripple-color: transparent;
      --indicator-color: none;
      ion-label {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        color: #afd365;
      }
    }
    .segment-button-checked {
      background: #afd365;
      ion-label {
        font-weight: 600;
        color: #fff;
      }
    }
  }
}

//searchbar
.book-searchbar-item {
  ion-searchbar {
    padding-bottom: 0.25rem;
    height: 2.125rem;
    border-bottom: 1px solid #949494;
    --background: transparent url(././assets/images/search-icon.png) no-repeat left 0 center / 1.875rem;

    .searchbar-input-container.sc-ion-searchbar-ios {
      height: 2.125rem;
    }
    .searchbar-search-icon {
      display: none;
    }

    .searchbar-clear-button.sc-ion-searchbar-ios {
      top: 2px;
      width: 1.875rem;
      height: 1.875rem;
      background: url(./assets/images/search-cancel-icon.png) no-repeat center center / 100% 100%;
      ion-icon {
        display: none;
      }
    }
  }
  .searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
    padding-inline-start: 2.625rem;
    padding-inline-end: 2.375rem;
    --placeholder-color: #949494;
    --placeholder-opacity: 1;
    --placeholder-font-weight: 400;
    font-size: 1rem;
  }
}

.calendar-wrap {
  height: calc(100%);
  overflow: scroll;
}
//일기장 달력 사이즈

@media screen and (max-height: 568px) {
  .calendar-wrap {
    height: calc(100% - 4.5rem + 200px);
  }
}

//캘린더 작은 화면일 때 스크롤
@media screen and (max-height: 700px) {
  .calendar-wrap {
    height: calc(100% - 4.5rem + 200px);
  }

  //식물 디테일
  #plant-slider-wrap {
    padding: 0.9375rem !important;
    ion-card {
      margin-bottom: 2.625rem !important;
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

// 반응형
@media screen and (max-width: 320px) {
  html,
  body {
    font-size: 15px;
  }
}

@media screen and (max-width: 300px) {
  html,
  body {
    font-size: 14px;
  }
}

@import '~@mobiscroll/angular/dist/css/mobiscroll.scss';

//식물 보고서 다이알로그 캘린더
//pop-calendar
.cdk-overlay-pane {
  position: absolute !important;
  top: 6.25rem !important;
  mat-dialog-container {
    border-radius: 10px !important;
    padding: 0;
    border: 1px solid #f0f0f0;
    box-shadow: none;
  }
}
.cdk-overlay-dark-backdrop {
  box-shadow: none;
  background: transparent;
}

//달력 내용
.pop-calendar-wrap {
  .mbsc-calendar-controls {
    padding: 0;
    mbsc-calendar-prev {
      background: url(././assets/images/calendar-arrow-left.png) no-repeat center center / 1.875rem;
      .mbsc-calendar-button {
        padding: 0;
        width: 1.875rem;
        height: 1.875rem;
        .mbsc-button-icon {
          display: none;
        }
      }
    }
    mbsc-calendar-next {
      background: url(./assets/images/calendar-arrow-right.png) no-repeat center center / 1.875rem;
      .mbsc-calendar-button {
        width: 1.875rem;
        height: 1.875rem;
        padding: 0;
        .mbsc-button-icon {
          display: none;
        }
      }
    }
  }
  padding: 10px;
  .mbsc-ios.mbsc-datepicker-inline {
    border: 0;
  }

  .mbsc-ios.mbsc-calendar-controls {
    margin-bottom: 0.5rem;
    justify-content: space-between;
  }

  //title{
  .mbsc-calendar-title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1875rem;
    color: transparent;
  }

  //월화수목금토일
  .mbsc-ios.mbsc-calendar-week-day {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.0625rem;
    color: #000;

    &:first-child {
      color: #da7f8c !important;
    }
  }

  //지난 날짜
  .mbsc-calendar-day-outer .mbsc-calendar-day-text,
  .mbsc-calendar-day-outer .mbsc-calendar-month-name {
    opacity: 1;
    color: #e4e4e5;
    font-size: 0.8125rem;
    font-weight: 400;
  }

  //이번달 날짜
  .mbsc-ios.mbsc-calendar-day-text {
    font-size: 0.8125rem;
    font-weight: 400;
    width: 1.875rem !important;
    height: 1.875rem !important;
    margin: 0;
    line-height: 1.875rem;
  }

  //선택되었을 때
  .mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
    border-color: #afd365;
    background: #afd365;
    min-width: 1.875rem !important;
    height: 1.875rem !important;
    border: none;
    color: #fff !important;
    @include font(#fff, 400, 0.8125rem, 1.875rem);
  }

  //오늘 날짜
  .mbsc-ios.mbsc-calendar-week-nr,
  .mbsc-ios.mbsc-calendar-today {
    color: #161616;
  }

  //연도 칸
  .mbsc-calendar-cell-text .mbsc-calendar-year-text .mbsc-ios ng-star-inserted {
    width: 2.4375rem;
    height: 2.8125rem;
    font-size: 0.9375rem;
  }
  .mbsc-ios.mbsc-calendar-cell-text {
    height: 2.5em;
    font-size: 0.9375rem;
    font-weight: 400;
    width: 78px;
  }
}

//차트

//차트 막대 넓이

@media screen and (max-height: 567px) {
  //주간 달력
  .chart-week {
    height: 7.5rem !important;
  }
}

@media screen and (max-height: 667px) {
  //주간 달력
  .chart-week {
    height: 6rem !important;
  }
}

@media screen and (max-height: 812px) {
  //주간 달력
  .chart-week {
    height: 8.75rem !important;
  }
}

@media screen and (max-height: 667px) {
  .chart-week {
    height: 6rem !important;
  }
}

@media screen and (max-height: 736px) {
  .chart-week {
    height: 7rem !important;
  }
}
