<!-- Screen ID : UI S-0002 -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goSetting()" fill="clear" class="back-btn"> </ion-button>
    </ion-buttons>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="faqs$ | async as faqs">
    <mat-accordion *ngFor="let faq of faqs">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{faq.title}}</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{faq.content}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</ion-content>
